
@{
    ViewBag.Title = "Boletos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/viaje.jpg);">
    <div class="auto-container">
        <h1>Boletos Aereos</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Boletos Aereos</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a>Ofertas</a></li>
                <li>Boletos Aereos</li>
            </ul>
        </div>
    </div>
</section>


<!--News Section-->
<section class="news-section extended">
    <div class="auto-container">

        <div class="row clearfix">

            <!--Column-->
            <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/images/370x250/CentralPark.jpg" alt="">
                        <div class="default-overlay-outer">
                            <div class="inner">
                                <div class="content-layer">
                                    <a href="#snVuelo" class="theme-btn btn-style-three">Solicitar</a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="content">
                        <div class="date">21<br>Feb</div>
                        <h3><a>Desde Santo Domingo a New York</a></h3>
                        <div class="text">
                            <p>
                                Oferta de Vuelos Baratos, desde US$ 392.00 ó RD$ 18,800.00.
                                Para viajar a partir del 13 de Abril 2018
                            </p>
                        </div>
                    </div>
                </div>
            </article>

            <!--Column-->
            <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/images/370x250/miami.jpg" alt="">
                        <div class="default-overlay-outer">
                            <div class="inner">
                                <div class="content-layer">
                                    <a href="#snVuelo" class="theme-btn btn-style-three">Solicitar</a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="content">
                        <div class="date">21<br>Feb</div>
                        <h3><a>Desde Santo Domingo a Miami Florida</a></h3>
                        <div class="text">
                            <p>
                                Oferta de Vuelos Baratos, desde US$ 295.00 ó RD$ 14,160.00.
                                Para viajar a partir del 03 de Marzo 2018
                            </p>
                        </div>
                    </div>
                </div>
            </article>

            <!--Column-->
            <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="/images/370x250/boston.jpg" alt="">
                        <div class="default-overlay-outer">
                            <div class="inner">
                                <div class="content-layer">
                                    <a href="#snVuelo" class="theme-btn btn-style-three">Solicitar</a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="content">
                        <div class="date">21<br>Feb</div>
                        <h3><a>Desde Punta Cana a Boston</a></h3>
                        <!--Etiqueta servicio-->      <div id="snVuelo" class="text">
                            <p>
                                Oferta de Vuelos Baratos, desde US$ 411.00 ó RD$ 19,700.00.
                                Para viajar a partir del 19 de Marzo 2018.
                            </p>
                        </div>
                    </div>
                </div>
            </article>

            <!--Column-->
            <!--   <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <figure class="image-box">
                          <img src="/images/resource/blog-image-4.jpg" alt="">
                          <a href="#" class="default-overlay-outer">
                              <div class="inner">
                                  <div class="content-layer">
                                      <div class="link-icon"><span class="fa fa-link"></span></div>
                                  </div>
                              </div>
                          </a>
                      </figure>
                      <div class="content">
                          <div class="date">08<br>Apr</div>

                          <h3><a href="#">Providing free legal advice</a></h3>
                          <div class="text"><p>In this, Kidnapping the unlawful taking away or transportation of person against that person's will, usually to hold the person unlawfully.</p></div>
                      </div>
                  </div>
              </article> -->
            <!--Column-->
            <!--   <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <figure class="image-box">
                          <img src="/images/resource/blog-image-5.jpg" alt="">
                          <a href="#" class="default-overlay-outer">
                              <div class="inner">
                                  <div class="content-layer">
                                      <div class="link-icon"><span class="fa fa-link"></span></div>
                                  </div>
                              </div>
                          </a>
                      </figure>
                      <div class="content">
                          <div class="date">14<br>Jun</div>
                          <h3><a href="#">Know about legal information</a></h3>
                          <div class="text"><p>Adultery  is extramarital sex that is considered objectionable on social, religious, moral or legal grounds though what sexual activities.</p></div>
                  </article> -->
            <!--Column-->
            <!--     <article class="column featured-news-column col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/images/resource/blog-image-6.jpg" alt="">
                            <a href="#" class="default-overlay-outer">
                                <div class="inner">
                                    <div class="content-layer">
                                        <div class="link-icon"><span class="fa fa-link"></span></div>
                                    </div>
                                </div>
                            </a>
                        </figure>
                        <div class="content">
                            <div class="date">19<br>Aug</div>
                          <h3><a href="#">Well Performace Consumer</a></h3>
                            <div class="text"><p>Consumer prottection law or consumeer law is considered an area of law that regulates private law relationships between individual.</p></div>

                        </div>
                    </div>
                </article> -->

        </div>
    </div>
</section>

<!--Consultation Section-->
<section class="consult-section" style="background-image:url(/images/1920x604/beach.jpg);">
    <div class="auto-container">

        <!--Styled Heading-->
        <div class="styled-heading">
            <h2> Solicita un Boleto Aereo ahora !!!</h2>
        </div>

        <figure class="man-image hidden-xs"><img src="/images/500x500/portafolio.jpg" alt=""></figure>

        <div class="default-form consultation-form">
            <form method="post" action="">
                <div class="row clearfix">
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input type="text" name="fname" value="" placeholder="Nombres" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input type="text" name="lname" value="" placeholder="Apellidos" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input type="text" name="phone" value="" placeholder="Telefono" required>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <textarea name="message" placeholder="Mensaje" required></textarea>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="theme-btn btn-style-one">Solicitar Boleto</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>

